@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('/Overpass-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('/Overpass-Bold.woff2') format('woff2');
}
